.background-aurora {
    position: relative !important;
    overflow: hidden !important;
}

.blob {
    position: absolute !important;
    width: 250px !important;
    height: 250px !important;
    border-radius: 50% !important;
    filter: blur(70px) !important;
    opacity: 0;
    transform: translateZ(0);
}


.contenido {
    position: relative !important;
    z-index: 2 !important;
}

.color-naranja {
    background: #ff5733 !important;
    top: 20% !important;
    left: 60% !important;
    z-index: 1 !important;
}

.color-rojo {
    background: #c70039 !important;
    top: 25% !important;
    left: 50% !important;
    z-index: 1 !important;
}

.getInTouch {
    position: relative;
}
