.serviceW svg {
    height: 50px;
    width: 50px;
}

.serviceBlockW .fusion-column-wrapper {
    -webkit-backdrop-filter: blur(20px) !important;
    backdrop-filter: blur(20px) !important;
    background-color: #fbfbfb4d !important;
    min-height: 340px !important;
}

@media (width < 1025px) {
    .serviceBlockW .fusion-column-wrapper {
        min-height: unset !important;
    }
}
